html {}

nav {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-head {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

#particles-wrapper {
  flex-flow: column;
  width: 100%;
  height: 100vh;
}

#name-card {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#name-card-small {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resume {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.headshot {
  width: 200px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(68, 70, 73);
  border-image: initial;
  margin: 0px 35px 20px;
}

textarea, input {
  background-color: transparent;
  color: white;
  outline: none;
  margin-top: 5px !important;
}

.project {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-wrapper {
  height: 6em;
  border-style: solid;
  border-width: 1px;
  margin-top: 5px !important;
}

canvas {
  height: 100vh !important;
}

.project-name {}

.col-centered {
  float: none;
  margin: 0 auto;
}

.mobile-title {
  padding: 8px 0 4px 0;
  border-style: solid;
  border-width: 0 0 1px 0;
}

.info-button {
  color: white;
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.project-button {
  color: white;
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  outline: none;
}

#project-buttons-wrapper {
  justify-content: center;
}

.project-info-button {
  display: block;
  background-color: transparent;
  width: 100%;
  height: 100%;
  color: white;
  border: none;
  cursor: pointer;
  outline: none !important;
}

.info-button:focus {
  outline: none;
}

.button-wrapper:hover {
  opacity: .9;
  background-color: grey;
}

.project-wrapper:hover {
  opacity: .9;
  background-color: grey;
}

.info-border {
  border-style: solid;
  border-width: 1px;
  margin-top: 5px;
  padding: 0 0 0 0 !important;
}

@media screen and (max-width: 767px) {
  #name-card {
    display: none !important;
  }
  .project-wrapper {
    width: 15em !important;
    height: 10em !important;
  }
  .project {
    top: 65%;
  }
  .project-wrapper {
    height: 6em !important;
    width: 15em !important;
  }
}

@media screen and (min-width: 768px) {
  #name-card-small {
    display: none !important;
  }
  .mobile-title {
    display: none !important;
  }
}
