html {}

nav {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-head {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

#particles-wrapper {
  flex-flow: column;
  width: 100%;
  height: 100vh;
}

canvas {
  height: 100vh !important;
}

#name-card {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-button {
  color: white;
  background-color: transparent;
  border: none;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.info-button:focus {
  outline: none;
}

.button-wrapper:hover {
  opacity: .9;
  background-color: grey;
}

.info-border {
  border-style: solid;
  border-width: 1px;
  margin-top: 5px;
  padding: 0 0 0 0 !important;
}
